.float-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 55%;

    img{
        width:5rem;
        height: auto;
    }
}

.float-button:hover {
    a{
        opacity: 80%;
    }
}