@charset "UTF-8";

*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

:root {
  --primaryColor600: #E5006D;
  /*var(--primaryColor600)*/
  --primaryColorHover: #da0068;
  /*var(--primaryColorHover)*/
  --primaryColor50: #fff5fa;
  /*var(--primaryColor50)*/
  --mainSpacing: 0.1rem;
  /*var(--mainSpacing)*/
  --mainTransition: all 0.3s linear;
  /*var(--mainTransition)*/
  /* grey */
  --grey-55: #747474;
  /*var(--grey-55)*/
  --grey-30: #b3b3b3;
  /*var(--grey-30)*/
  --grey-2: #fafafa;
  /*var(--grey-2)*/
  /* rest of the colors */
  --black: #010101;
  /*var(--black)*/
  --blue: #2f52a0;
  /*var(--blue)*/
  --red: #e6632f;
  /*var(--red)*/
  /* fonts  */
  --headingFont: "Inter", sans-serif;
  --bodyFont: "Inter", sans-serif;
  --smallText: 0.7em;
  /* rest of the vars */
  --backgroundColor: var(--grey-2);
  --textColor: var(--grey-55);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;
  --fluid-width: 90vw;
  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

a {
  color: var(--primaryColor600);
  -webkit-transition: all .3s ease-out;
  transition: all 0.3s ease-out;
  text-decoration: none;
}

a:hover {
  opacity: 0.75;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  color: var(--grey-55);
  font-size: 2em;
  font-weight: 100;
  font-family: "Inter", sans-serif;
}

h2 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

h3 {
  color: var(--primaryColor600);
  font-family: "Inter", sans-serif;
}

ul {
  list-style: none;
}

p {
  font-family: "Inter", sans-serif;
  color: var(--black);
  font-weight: 600;
}

.site {
  margin: 1rem auto;
  padding: 1rem;
  max-width: 50%;
  text-align: center;
}

.post {
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 0.5rem;
  max-width: 90%;
  text-align: center;
}

.post-author {
  font-size: small;
}

.post-excerpt,
.post-content {
  text-align: left;
}

.post-content article {
  padding: 1rem;
  background-color: #e3f2fd;
}

.post-content img {
  display: block;
  margin: auto;
}

.loader {
  display: none;
  margin: 2rem auto;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
}

.post-title {
  text-align: center;
}

.fl-icon-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.fl-icon i {
  height: auto;
  width: auto;
  padding-right: 3px;
}

.fl-icon a {
  text-decoration: none;
  color: unset;
}

.module-separator {
  border-top: 1px solid black;
  height: 2px;
  padding: 0;
  margin: 20px auto 0 auto;
}

/* --------------- Hero ---------------- */
.hero {
  background-image: url(../assets/Hero.jpeg);
  background-position: 45% 80%;
  background-size: 190%;
  height: 40vh;
  padding: 0 0;
}

.hero div {
  height: 40vh;
  background-color: var(--primaryColor600);
  opacity: 0.2;
}

/* --------------- End of Hero ---------------- */
/* --------------- Testimonials ---------------- */
.testimonio-header {
  display: flex;
  align-items: center;
}

.testimonio-header img {
  object-fit: cover;
  height: 5em;
  width: 5em;
  border-radius: 50%;
  border: 5px solid var(--primaryColor600);
}

.testimonio-header .testimonio-header__text {
  margin-left: 0.5rem;
}

.testimonio-header .testimonio-header__text span {
  color: var(--primaryColor600);
  font-size: 1.1em;
  font-weight: bold;
}

.testimonio-header .testimonio-header__text .info {
  color: var(--grey-55);
}

.testimonio {
  font-weight: 500;
  font-style: italic;
  font-size: 1.1em;
  height: 35vh;
  padding: 0.5rem;
}

/* ------------ End of Testimonial ------------- */
/*---------- botón Donar -------------------- */
.donar-btn {
  cursor: pointer;
  color: var(--primaryColor50);
  background: var(--primaryColor600);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.4rem 1.3rem;
  -webkit-box-shadow: var(--shadow-1);
  box-shadow: var(--shadow-1);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
}

.donar-btn:hover {
  background: var(--primaryColorHover);
  -webkit-box-shadow: var(--shadow-3);
  box-shadow: var(--shadow-3);
}

/*---------- end of botón Donar -------------------- */
.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 4.5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: var(--backgroundColor);
  z-index: 1;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.navbar-center {
  width: 100vw;
  max-width: var(--max-width);
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 0.7rem;
}

.navbar-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-links {
  display: none;
}

.nav-icon {
  font-size: 1.5rem;
}

.toggle-nav {
  background: var(--primaryColor);
  border-color: transparent;
  color: var(--clr-white);
  width: 3.75rem;
  height: 2.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 2rem;
  cursor: pointer;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.nav-logo {
  max-width: 2.5rem;
}

.toggle-nav:hover {
  background: var(--clr-primary-3);
}

/* page navbar */
.page .nav-link {
  color: var(--grey-600);
}

.page .nav-link:hover {
  color: var(--primaryColor);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.main {
  padding: 0.5rem 0;
}

.main .main-about {
  padding: 0 0.5rem;
}

.main .main-about p {
  color: var(--primaryColor600);
  font-size: 1.8em;
  margin: 15px 0;
}

.main .main-about button {
  width: 100%;
  font-size: 16px;
}

.main .main-about h1 {
  color: #000;
  font-size: 1.2em;
  font-weight: 500;
}

.main .main-socialImpact {
  background-color: var(--primaryColor50);
  margin-top: 3rem;
  padding: 2rem 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main .main-socialImpact .impact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0;
}

.main .main-socialImpact .impact i {
  color: var(--grey-30);
  font-size: 3em;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.main .main-socialImpact .impact div {
  padding-left: 1rem;
}

.main .main-socialImpact .impact div h6 {
  font-family: var(--bodyFont);
  color: var(--primaryColor600);
  font-size: 2.5rem;
}

.main .main-socialImpact .impact div p {
  color: var(--grey-55);
  font-size: 1em;
  width: 85%;
}

.main .main-socialImpact .impact div p span {
  color: var(--primaryColor600);
}

.main .main-socialImpact a {
  text-decoration: none;
  font-weight: bold;
}

.main .main-testimonials {
  padding: 0.5rem;
}

.main .main-testimonials .carousel-indicators {
  bottom: -0.5em;
}

.main .main-testimonials .carousel-indicators .active {
  background-color: var(--primaryColor600);
}

.main .main-testimonials .carousel-indicators button {
  background-color: var(--grey-55);
  height: 0.5em;
  width: 0.5em;
  border-radius: 50%;
}

.main .main-testimonials .testimonio-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main .main-testimonials .testimonio-header img {
  -o-object-fit: cover;
  object-fit: cover;
  height: 5em;
  width: 5em;
  border-radius: 50%;
  border: 5px solid var(--primaryColor600);
}

.main .main-testimonials .testimonio-header .testimonio-header__text {
  margin-left: .5rem;
}

.main .main-testimonials .testimonio-header .testimonio-header__text span {
  color: var(--primaryColor600);
  font-size: 1.1em;
  font-weight: bold;
}

.main .main-testimonials .testimonio-header .testimonio-header__text .info {
  color: var(--grey-55);
}

.main .main-testimonials .testimonio {
  font-weight: 600;
  font-style: italic;
  font-size: 1.1em;
  padding: .5rem;
}

.main .main-involucrate div {
  padding: 0.5em 0.8em;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main .main-involucrate div img {
  height: 5em;
  width: 5em;
}

.main .main-involucrate div .title {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main .main-involucrate div .title h2 {
  color: #fff;
  margin: 0;
  font-size: 1.3em;
  width: 70%;
}

.main .main-involucrate div .title i {
  color: #fff;
}

.main .main-involucrate .sumate {
  background-image: url(../assets/involucrate.jpg);
  background-position: 60%;
  background-size: 170%;
  height: 30vh;
  padding: 0;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}

.main .main-involucrate .sumate h2 {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, transparent), to(#000));
  background: linear-gradient(transparent 1%, #000);
  color: #fff;
  font-size: 3em;
  margin: 0;
  padding-left: 0.2em;
}

.main .main-involucrate .donacion {
  background-color: #E5006D;
}

.main .main-involucrate .empresaAliada {
  background-color: #FF479F;
}

.main .main-involucrate .voluntario {
  background-color: #FEF0F7;
}

.main .main-involucrate .voluntario h2 {
  color: var(--primaryColor600) !important;
}

.main .main-involucrate .voluntario i {
  color: var(--primaryColor600) !important;
}

.news {
  padding: 0.5rem;
}

.news .news-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.news .news-header a {
  font-weight: bold;
}

.news #carousel-news .carousel-indicators {
  bottom: -1.5em;
}

.news #carousel-news .carousel-indicators button {
  background-color: var(--grey-55);
  height: 0.5em;
  width: 0.5em;
  border-radius: 50%;
}

.news #carousel-news .carousel-indicators .active {
  background-color: var(--primaryColor600);
}

.news #carousel-news .portada span {
  background-color: var(--primaryColor600);
  color: #fff;
  font-family: var(--bodyFont);
  font-weight: 100;
  padding: 0 10px;
  position: absolute;
  top: 60%;
}

.news #carousel-news .fecha-news {
  color: var(--grey-55);
  font-size: 1.1em;
}

.news #carousel-news h3 {
  color: #000;
}

.main-sponsors {
  margin: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-sponsors h2 {
  color: var(--grey-55);
}

.main-sponsors .carousel-inner {
  height: 30vh;
}

.main-sponsors .carousel-inner img {
  height: 30vh;
  margin: auto;
}

.main-queHacemos .frontpage {
  background-image: url(../assets/que-hacemos-frontpage.jpeg);
  background-position: center;
  background-size: cover;
  height: 40vh;
  width: 100%;
}

.main-queHacemos .frontpage div {
  background-color: var(--primaryColor600);
  height: 100%;
  opacity: 0.3;
}

.main-queHacemos .description {
  padding: 1em 0.8em;
}

.main-queHacemos .description h1 {
  font-size: 2em;
}

.main-queHacemos .main-pilares {
  background-color: var(--primaryColor50);
  padding: 1em 0.8em;
}

.main-queHacemos .main-pilares h3 {
  color: var(--black);
}

.main-queHacemos .main-pilares .pilar {
  background-color: #fff;
  padding: 0.8em;
  border-radius: 10px;
}

.main-queHacemos .main-pilares .pilar h5 {
  color: var(--primaryColor600);
}

.main-queHacemos .main-pilares .pilar p {
  font-weight: 600;
}

.main-queHacemos .main-pilares .pilar span,
.main-queHacemos .main-pilares .pilar ul {
  color: var(--grey-55);
  font-weight: 600;
}

.main-queHacemos .main-pilares .pilar ul {
  list-style: disc;
}

.main-queHacemos .main-proyectoJuanPablo .proyectoJuanPablo-description {
  padding: 0.8em;
}

.main-queHacemos .main-proyectoJuanPablo .proyectoJuanPablo-description h2 {
  color: var(--primaryColor600);
}

.main-queHacemos .main-proyectoJuanPablo .proyectoJuanPablo-description p {
  color: var(--grey-55);
  font-weight: 500;
}

.main-queHacemos .main-proyectoJuanPablo .stats-container {
  color: var(--red);
  margin: 0.8em;
  padding: 0.8em;
  border-left: 5px solid var(--red);
}

.main-queHacemos .main-proyectoJuanPablo .stats-container span {
  font-weight: 500;
  font-size: 1.2em;
}

.main-queHacemos .main-proyectoJuanPablo .stats-container .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main-queHacemos .main-proyectoJuanPablo .stats-container .stats div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main-queHacemos .main-proyectoJuanPablo .stats-container .stats .num {
  line-height: 1;
  font-size: 4em;
}

.main-queHacemos .main-proyectoJuanPablo .stats-container .stats .title {
  font-weight: 700;
}

.main-queHacemos .main-proyectoJuanPablo p {
  color: var(--grey-55);
  padding: 0.8em;
}

.main-queHacemos .support {
  background-image: url(../assets/support.png);
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}

.main-queHacemos .support div {
  background: linear-gradient(transparent, #000d 50%);
  height: 25vh;
  padding: 0.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}

.main-queHacemos .support div h2 {
  color: #fff;
  font-size: 2em;
}

.main-voluntariado .frontpage {
  background-image: url(../assets/voluntariado-frontpage.jpeg);
  background-position: center;
  background-size: cover;
  height: 40vh;
  width: 100%;
}

.main-voluntariado .frontpage div {
  background-color: var(--primaryColor600);
  height: 100%;
  opacity: 0.3;
}

.main-voluntariado .description {
  padding: 1em 0.8em;
}

.main-voluntariado .description p {
  font-weight: 500;
}

.main-voluntariado .main-colabora {
  background-color: var(--primaryColor50);
  padding: 0.8em;
}

.main-voluntariado .main-colabora h2 {
  color: var(--primaryColor600);
  font-size: 2em;
}

.main-voluntariado .main-colabora p {
  color: var(--grey-55);
  font-size: 1.2em;
}

.main-voluntariado .main-colabora .cards-container {
  height: 80%;
}

.main-voluntariado .main-colabora .cards-container div {
  background-color: #fff;
  margin: 1em 0;
  border-radius: 10px;
  padding: 0.8em;
}

.main-voluntariado .main-colabora .cards-container div h4 {
  color: var(--primaryColor600);
}

.main-voluntariado .main-colabora .cards-container div p {
  color: #000;
  font-size: 1em;
}

.main-voluntariado .main-form {
  padding: 0.8em;
}

.main-voluntariado .main-form h2 {
  font-size: 2em;
  margin: 0.8em 0;
}

.main-voluntariado .main-form p {
  color: var(--primaryColor600);
  font-size: 1.2em;
  width: 75%;
}

.main-voluntariado .main-form form {
  display: flex;
  flex-direction: column;
}

.main-voluntariado .main-form form span {
  font-family: var(--bodyFont);
  font-weight: 600;
}

.main-voluntariado .main-form form span b {
  color: #f00;
}

.main-voluntariado .main-form form input {
  font-size: 1.2em;
  margin-bottom: 0.8em;
  padding: 0 0.2em;
  border: 3px solid var(--grey-30);
  border-radius: 5px;
  outline: none;
}

.main-voluntariado .main-form form .tipo-voluntariado {
  color: var(--grey-55);
  font-weight: 500;
}

.main-voluntariado .main-form form textarea {
  font-size: 1.2em;
  margin-bottom: 0.8em;
  padding: 0 0.2em;
  border: 3px solid var(--grey-30);
  border-radius: 5px;
  outline: none;
}

.sidebar {
  width: 99vw;
  height: 99vh;
  max-width: var(--fixed-width);
  background: #fff;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  position: relative;
  padding: 6rem 1rem;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.sidebar-overlay.show {
  opacity: 1;
  z-index: 100;
}

.sidebar-overlay.show .sidebar {
  -webkit-transform: scale(1);
  transform: scale(1);
}

aside {
  display: block;
}

aside .sidebar-links {
  padding: 0;
}

aside .sidebar-links .sidebar-sublinks {
  margin: 1em 0;
}

aside h4 {
  color: var(--primaryColor600);
  margin-bottom: 0;
}

aside div.social {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 2.4em;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  z-index: -1;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
}

.sidebar-close {
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  cursor: pointer;
}

.sidebar-close i {
  color: var(--grey-55);
}

.sidebar-logo {
  max-width: 2.5rem;
  background: transparent;
  border-color: transparent;
  position: absolute;
  top: 1rem;
  left: 1rem;
  cursor: pointer;
}

.sidebar-link {
  font-size: 1.5rem;
  text-transform: capitalize;
  color: var(--black);
}

.sidebar-sublink {
  font-size: 1.5rem;
  text-transform: capitalize;
  color: var(--black);
}

.sidebar-sublink a {
  text-decoration: none;
}

.sidebar-sublink li {
  list-style: none;
  padding: 1rem 0rem;
  color: var(--grey-55);
}

.sidebar-sublink li li {
  padding: 0.3rem 0rem;
}

footer {
  background-color: var(--grey-2);
  color: var(--black);
  font-size: medium;
  padding: 0;
  margin: 0;
}

footer .row {
  padding: 1em 0;
  margin-right: 0px;
  margin-left: 0px;
}

footer .row.primary {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr 2fr;
  grid-template-columns: 2fr 2fr 2fr;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

footer .row.primary a {
  text-decoration: none;
}

footer .column {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 2em;
}

footer .column.links ul li {
  font-size: 0.9rem;
}

footer .column.links ul li i {
  padding-right: 2px;
  padding-bottom: 1px;
}

footer h3 {
  width: 100%;
  text-align: left;
  color: var(--grey-55);
  font-weight: 400;
  font-size: 1em;
  white-space: nowrap;
  padding-top: 1rem;
}

footer ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

footer li:not(:first-child) {
  margin-top: 0.8em;
}

footer ul li a {
  color: var(--primaryColor600);
  text-decoration: none;
  font-weight: bold;
}

footer ul li a:hover {
  color: var(--primaryColorHover);
}

footer .logo-mail-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

footer .logo-mail-footer a {
  height: 5em;
  width: 5em;
  border-radius: 50%;
}

footer .logo-mail-footer a img {
  height: 5em;
  width: 5em;
}

footer div.social {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 2.4em;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

footer div.social i {
  color: var(--primaryColor600);
}

footer div.social i:hover {
  color: var(--primaryColor);
}

footer .copyright {
  padding: 0.3em 1em;
  background-color: #25262e;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

footer .copyright p {
  font-size: 0.9em;
  text-align: right;
  padding: 6px;
  margin-bottom: 0px;
  color: var(--primaryColor50);
}

@media screen and (min-width: 768px) {
  .grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media screen and (min-width: 800px) {
  .navbar-center {
    position: relative;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0rem 0rem;
  }

  .navbar-center li {
    list-style: none;
  }

  .navbar-center a {
    text-decoration: none;
  }

  .toggle-nav {
    display: none;
  }

  .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.5rem;
    text-transform: capitalize;
  }

  .nav-link {
    margin-right: 1rem;
    letter-spacing: var(--spacing);
    -webkit-transition: var(--transition);
    transition: var(--transition);
    font-size: 1.25rem;
  }

  .nav-link:hover {
    color: var(--primaryColorHover);
  }

  .sidebar-overlay {
    display: none;
  }
}

@media screen and (min-width: 1170px) {
  .grid-container {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 850px) {
  footer .row.primary {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-columns: (minmax(260px, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    max-width: 100%;
  }

  footer .column {
    padding: 0 1em;
  }
}

.hero-nosotras {
  background-image: url(../assets/nosotras.png);
  background-position: 45% 80%;
  background-size: cover;
  height: 30vh;
  padding: 0 0;
}

.hero-nosotras div {
  height: 30vh;
  background-color: var(--primaryColor600);
  opacity: .05;
}

.main-nosotras {
  padding: 0 0;
}

.main-nosotras .main-about-nosotras {
  padding: 2rem 1rem;
}

.main-nosotras .main-about-nosotras h1 {
  font-size: 2.8rem;
  color: var(--grey-55);
}

.main-nosotras .main-about-nosotras p {
  font-size: 1.3rem;
  margin: 15px 0;
  color: var(--black);
}

.main-nosotras .main-about-nosotras p span {
  font-weight: bold;
}

.main-nosotras .slider {
  background: white;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.main-nosotras .slider::before,
.main-nosotras .slider::after {
  background: -webkit-gradient(linear, left top, right top, from(white), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100%;
  position: absolute;
  width: 50px;
  z-index: 2;
}

.main-nosotras .slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}

.main-nosotras .slider::before {
  left: 0;
  top: 0;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(calc(-225px * 4));
    transform: translateX(calc(-225px * 4));
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(calc(-225px * 4));
    transform: translateX(calc(-225px * 4));
  }
}

.main-nosotras .slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
  animation: scroll 40s linear infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(225px * 8);
}

.main-nosotras .slider .slide-track .slide {
  padding: 0 0rem;
  width: 100%;
}

.main-nosotras .slider .slide-track .slide img {
  height: 201px;
}

.main-nosotras .slider .slide-track .slide span {
  color: var(--primaryColor600);
  font-weight: bold;
}

.main-nosotras .mision-nosotras-container {
  padding: 2rem 1rem;
}

.main-nosotras .mision-nosotras-container .mision-nosotras h3 {
  color: #000;
  background: #fff;
  mix-blend-mode: multiply;
  position: relative;
}

.main-nosotras .mision-nosotras-container .mision-nosotras h3:before {
  content: '';
  display: block;
  width: 99%;
  height: 98%;
  background: -webkit-gradient(linear, left bottom, left top, from(var(--red)), to(var(--primaryColor600)));
  background: linear-gradient(to top, var(--red), var(--primaryColor600));
  mix-blend-mode: screen;
  position: absolute;
  top: 0.1rem;
  left: 0.1rem;
}

.main-nosotras .mision-nosotras-container .mision-ver-mas-btn {
  padding: 1rem 0rem;
  color: var(--primaryColor600);
  text-align: center;
}

.main-nosotras .mision-nosotras-container .mision-ver-mas-btn a {
  font-size: 1.3rem;
  font-weight: bold;
}

.main-nosotras .mision-nosotras-container .mision-ver-mas-btn a i {
  margin-left: 1rem;
}

.main-nosotras .mision-nosotras-container .mision-ver-mas-btn a:hover {
  background-color: var(--primaryColor50);
  color: var(--primaryColor600);
}

.main-nosotras .main-valores {
  padding: 2rem 1rem;
  background-color: var(--primaryColor50);
}

.main-nosotras .main-valores h4 {
  color: var(--grey-55);
}

.main-nosotras .main-valores h2 {
  color: var(--red);
  font-size: 2rem;
}

.main-nosotras .main-valores .single-valor {
  padding: 1rem;
  background-color: white;
  border-radius: 5%;
  margin: 3rem 0rem;
}

.main-nosotras .main-valores .single-valor .title {
  padding-bottom: 1rem;
}

.main-nosotras .main-valores .single-valor .title h4 {
  color: var(--red);
}

.main-nosotras .main-valores .single-valor p {
  font-size: 1.3rem;
}

.hero-contacto {
  background-image: url(../assets/contacto.png);
  background-position: 45% 80%;
  background-size: cover;
  height: 30vh;
  padding: 0 0;
}

.hero-contacto div {
  height: 30vh;
  background-color: var(--primaryColor600);
  opacity: .05;
}

.main-contacto {
  padding: 0 0;
}

.main-contacto .main-contacto-text {
  padding: 2rem 1rem;
}

.main-contacto .main-contacto-text h1 {
  font-size: 2.8rem;
  color: var(--grey-55);
}

.main-contacto .main-contacto-text p {
  font-size: 1.3rem;
  margin: 15px 0;
  color: var(--grey-55);
}

.main-contacto .form-container form {
  padding: 1rem 1rem;
}

.main-contacto .form-container form label {
  font-weight: bold;
}

.main-contacto .form-container form label span {
  color: var(--primaryColor600);
}

.main-contacto .form-container form .form-group {
  padding-top: 1rem;
}

.main-contacto .form-container form .form-submit {
  padding: 1rem 0;
}

.main-contacto .form-container form .form-submit .enviar-btn {
  cursor: pointer;
  color: var(--primaryColor50);
  background: var(--primaryColor600);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  width: 100%;
  padding: 0.5rem 0;
  -webkit-box-shadow: var(--shadow-1);
  box-shadow: var(--shadow-1);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
}

.main-contacto .form-container form .form-submit .enviar-btn:hover {
  background: var(--primaryColorHover);
  -webkit-box-shadow: var(--shadow-3);
  box-shadow: var(--shadow-3);
}

.hero-donaciones {
  background-image: url(../assets/Donaciones.png);
  background-position: 45% 80%;
  background-size: cover;
  height: 30vh;
  padding: 0 0;
}

.hero-donaciones div {
  height: 30vh;
  background-color: var(--primaryColor600);
  opacity: .05;
}

.main-donaciones {
  padding: 0 0;
}

.main-donaciones .main-donaciones-text {
  padding: 2rem 1rem;
}

.main-donaciones .main-donaciones-text h1 {
  font-size: 2.8rem;
  color: var(--grey-55);
}

.main-donaciones .main-donaciones-text p {
  font-size: 1.3rem;
  margin: 15px 0;
  color: var(--grey-55);
}

.main-donaciones .recaudacion-container {
  background-color: var(--grey-2);
  padding: 2rem 1rem;
}

.main-donaciones .recaudacion-container .recaudacion-title h2 {
  font-size: 2rem;
}

.main-donaciones .recaudacion-container .recaudacion-sub-title {
  padding-top: 1rem;
}

.main-donaciones .recaudacion-container .recaudacion-sub-title h3 {
  color: #000;
  background: #fff;
  mix-blend-mode: multiply;
  position: relative;
}

.main-donaciones .recaudacion-container .recaudacion-sub-title h3:before {
  content: '';
  display: block;
  width: 99%;
  height: 97%;
  background: -webkit-gradient(linear, left bottom, left top, from(var(--red)), to(var(--primaryColor600)));
  background: linear-gradient(to top, var(--red), var(--primaryColor600));
  mix-blend-mode: screen;
  position: absolute;
  top: 0.1rem;
  left: 0.1rem;
}

.main-donaciones .recaudacion-container .recaudacion-paragraph {
  padding-top: .5rem;
}

.main-donaciones .recaudacion-container .recaudacion-paragraph p {
  color: var(--grey-55);
}

.main-donaciones .recaudacion-container .donaciones-grafico {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-donaciones .recaudacion-container .donaciones-cifras .single-cifra-pink {
  border-left: var(--primaryColor600) 4px solid;
  padding: 0 .5rem;
  margin: 1rem 0;
}

.main-donaciones .recaudacion-container .donaciones-cifras .single-cifra-pink span {
  font-weight: 900;
  font-size: 2.2rem;
  color: var(--primaryColor600);
}

.main-donaciones .recaudacion-container .donaciones-cifras .single-cifra-pink p {
  font-size: small;
  color: var(--grey-55);
}

.main-donaciones .recaudacion-container .donaciones-cifras .single-cifra-blue {
  border-left: var(--blue) 4px solid;
  padding: 0 .5rem;
  margin: 1rem 0;
}

.main-donaciones .recaudacion-container .donaciones-cifras .single-cifra-blue span {
  font-weight: 900;
  font-size: 2.2rem;
  color: var(--blue);
}

.main-donaciones .recaudacion-container .donaciones-cifras .single-cifra-blue p {
  font-size: small;
  color: var(--grey-55);
}

.main-donaciones .recaudacion-container .donaciones-cifras .single-cifra-red {
  border-left: var(--red) 4px solid;
  padding: 0 .5rem;
  margin: 1rem 0;
}

.main-donaciones .recaudacion-container .donaciones-cifras .single-cifra-red span {
  font-weight: 900;
  font-size: 2.2rem;
  color: var(--red);
}

.main-donaciones .recaudacion-container .donaciones-cifras .single-cifra-red p {
  font-size: small;
  color: var(--grey-55);
}

.main-donaciones .imagen-container img {
  width: 100%;
}

.main-donaciones .apoya-container {
  padding: 2rem 1rem;
}

.main-donaciones .apoya-container .apoya-title h2 {
  color: var(--primaryColor600);
}

.main-donaciones .apoya-container .apoya-paragraph {
  padding: 1rem 0;
}

.main-donaciones .apoya-container .apoya-paragraph p {
  color: var(--grey-55);
}

.main-donaciones .apoya-container .ver-datos-button .ver-datos-btn {
  cursor: pointer;
  color: var(--primaryColor50);
  background: var(--primaryColor600);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  width: 100%;
  padding: 0.5rem 0;
  -webkit-box-shadow: var(--shadow-1);
  box-shadow: var(--shadow-1);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  display: inline-block;
}

.main-donaciones .apoya-container .ver-datos-button .ver-datos-btn:hover {
  background: var(--primaryColorHover);
  -webkit-box-shadow: var(--shadow-3);
  box-shadow: var(--shadow-3);
}

.main-donaciones .apoya-container .ver-datos-button h5 {
  color: var(--grey-55);
}

.main-donaciones .apoya-container .ver-datos-button i {
  margin-left: 1rem;
}

.main-donaciones .apoya-container .ver-datos-button input {
  border-style: hidden;
}

.hero-empresas {
  background-image: url(../assets/empresas.png);
  background-position: 45% 80%;
  background-size: cover;
  height: 30vh;
  padding: 0 0;
}

.hero-empresas div {
  height: 30vh;
  background-color: var(--primaryColor600);
  opacity: .05;
}

.main-empresas {
  padding: 0 0;
}

.main-empresas .main-empresas-text {
  padding: 2rem 1rem;
}

.main-empresas .main-empresas-text h1 {
  font-size: 2.8rem;
  color: var(--grey-55);
}

.main-empresas .main-empresas-text p {
  font-size: 1.3rem;
  margin: 15px 0;
  color: var(--grey-55);
}

.main-empresas .main-aliado {
  padding: 2rem 1rem;
  background-color: var(--primaryColor50);
}

.main-empresas .main-aliado h4 {
  color: var(--grey-55);
}

.main-empresas .main-aliado h2 {
  font-size: 2rem;
  color: #000;
  background: #fff;
  mix-blend-mode: multiply;
  position: relative;
}

.main-empresas .main-aliado h2:before {
  content: '';
  display: block;
  width: 99%;
  height: 97%;
  background: -webkit-gradient(linear, left bottom, left top, from(var(--red)), to(var(--primaryColor600)));
  background: linear-gradient(to top, var(--red), var(--primaryColor600));
  mix-blend-mode: screen;
  position: absolute;
  top: 0.1rem;
  left: 0.1rem;
}

.main-empresas .main-aliado .single-valor {
  padding: 1rem;
  background-color: white;
  border-radius: 5%;
  margin: 3rem 0rem;
}

.main-empresas .main-aliado .single-valor .title {
  padding-bottom: 1rem;
}

.main-empresas .main-aliado .single-valor .title h4 {
  color: var(--red);
}

.main-empresas .main-aliado .single-valor p {
  font-size: 1.3rem;
}

.main-empresas .porque-container {
  padding: 2rem 1rem;
}

.main-empresas .porque-container .porque-header h2 {
  font-weight: bold;
}

.main-empresas .porque-container .porque-sub-header {
  padding-top: 1rem;
}

.main-empresas .porque-container .porque-sub-header h3 {
  color: #000;
  background: #fff;
  mix-blend-mode: multiply;
  position: relative;
}

.main-empresas .porque-container .porque-sub-header h3:before {
  content: '';
  display: block;
  width: 99%;
  height: 97%;
  background: -webkit-gradient(linear, left bottom, left top, from(var(--red)), to(var(--primaryColor600)));
  background: linear-gradient(to top, var(--red), var(--primaryColor600));
  mix-blend-mode: screen;
  position: absolute;
  top: 0.1rem;
  left: 0.1rem;
}

.main-empresas .porque-container .impacto-container {
  padding-top: 1rem;
}

.main-empresas .porque-container .impacto-container .single-impacto-container {
  padding: 1rem 0;
}

.main-empresas .porque-container .impacto-container .single-impacto-container h4 {
  color: var(--primaryColor600);
}

.main-empresas .porque-container .impacto-container .single-impacto-container p {
  color: var(--grey-55);
}

.main-empresas .main-contacto .main-contacto-text-empresas {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.main-empresas .main-contacto .main-contacto-text-empresas h2 {
  font-weight: bold;
}

.main-empresas .main-contacto .main-contacto-text-empresas p {
  color: #000;
  background: #fff;
  mix-blend-mode: multiply;
  position: relative;
}

.main-empresas .main-contacto .main-contacto-text-empresas p:before {
  content: '';
  display: block;
  width: 99%;
  height: 96%;
  background: -webkit-gradient(linear, left bottom, left top, from(var(--red)), to(var(--primaryColor600)));
  background: linear-gradient(to top, var(--red), var(--primaryColor600));
  mix-blend-mode: screen;
  position: absolute;
  top: 0.1rem;
  left: 0.1rem;
}

.hero-novedades {
  background-image: url(../assets/contacto.png);
  background-position: 45% 80%;
  background-size: cover;
  height: 30vh;
  padding: 0 0;
}

.hero-novedades div {
  height: 30vh;
  background-color: var(--primaryColor600);
  opacity: .05;
}

.main-novedades {
  padding: 0 0;
}

.main-novedades .main-novedades-text {
  padding: 2rem 1rem;
}

.main-novedades .main-novedades-text h1 {
  font-size: 2.8rem;
  color: var(--black);
}

.main-novedades .main-novedades-text p {
  font-size: 1.3rem;
  margin: 15px 0;
  color: var(--grey-55);
}

.main-novedades .main-novedades-text i {
  margin-left: 1rem;
}

.main-novedades .novedades-container {
  padding: .5rem .5rem;
}

.main-novedades .novedades-container .post {
  margin: .2rem auto;
  padding: .2rem;
  border-radius: .5rem;
  max-width: 90%;
}

.main-novedades .novedades-container .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
}

.main-novedades .novedades-container .loader {
  display: none;
  margin: 2rem auto;
}

.main-novedades .novedades-container .post-author {
  font-size: small;
  padding: .2rem 0rem;
  color: var(--primaryColor600);
}

.main-novedades .novedades-container .post-excerpt {
  text-align: left;
  padding: .2rem 0rem;
  color: var(--grey-55);
}

.main-novedades .novedades-container .post-content {
  text-align: left;
  padding: .2rem 0rem;
}

.main-novedades .novedades-container .post-content img {
  display: block;
  margin: auto;
}

.main-novedades .novedades-container .post-content i {
  margin-left: .5rem;
}

.main-novedades .novedades-container .post-title {
  padding: .2rem 0rem;
  font-weight: bold;
}

.main-novedades .novedades-container .module-separator {
  border-top: 1px solid black;
  height: 2px;
  padding: 0;
  margin: 20px auto 0 auto;
}

/*# sourceMappingURL=style.css.map */