*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

:root {
    --primaryColor600: #E5006D;
    /*var(--primaryColor600)*/
    --primaryColorHover: #da0068;
    /*var(--primaryColorHover)*/
    --primaryColor50: #fff5fa;
    /*var(--primaryColor50)*/
    --mainSpacing: 0.1rem;
    /*var(--mainSpacing)*/
    --mainTransition: all 0.3s linear;
    /*var(--mainTransition)*/
    /* grey */
    --grey-55: #747474;
    /*var(--grey-55)*/
    --grey-30: #b3b3b3;
    /*var(--grey-30)*/
    --grey-2: #fafafa;
    /*var(--grey-2)*/
    /* rest of the colors */
    --black: #010101;
    /*var(--black)*/
    --blue: #2f52a0;
    /*var(--blue)*/
    --red: #e6632f;
    /*var(--red)*/
    /* fonts  */
    --headingFont: 'Inter', sans-serif;
    --bodyFont: 'Inter', sans-serif;
    --smallText: 0.7em;
    /* rest of the vars */
    --backgroundColor: var(--grey-2);
    --textColor: var(--grey-55);
    --borderRadius: 0.25rem;
    --letterSpacing: 1px;
    --transition: 0.3s ease-in-out all;
    --max-width: 1120px;
    --fixed-width: 600px;
    --fluid-width: 90vw;
    /* box shadow*/
    --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

a {
    color: var(--primaryColor600);
    transition: all .3s ease-out;
    text-decoration: none;

    &:hover {
        opacity: .75;
    }
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 1.5em;
    font-weight: 100;
    font-family: 'Inter', sans-serif;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

h3 {
    color: var(--primaryColor600);
    font-family: 'Inter', sans-serif;
}

ul {
    list-style: none;
}

p {
    font-family: 'Inter', sans-serif;
    color: var(--black);
    font-weight: 600;
}

.site {
    margin: 1rem auto;
    padding: 1rem;
    max-width: 50%;
    text-align: center;
}

.post {
    margin: 1rem auto;
    padding: 1rem;
    border-radius: .5rem;
    max-width: 90%;
    text-align: center;
}

.post-author {
    font-size: small;
}

.post-excerpt,
.post-content {
    text-align: left;
}

.post-content article {
    padding: 1rem;
    background-color: #e3f2fd;
}

.post-content img {
    display: block;
    margin: auto;
}

.loader {
    display: none;
    margin: 2rem auto;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
}

.post-title {
    text-align: center;
}

.fl-icon-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fl-icon i {
    height: auto;
    width: auto;
    padding-right: 3px;
}

.fl-icon a {
    text-decoration: none;
    color: unset;
}

.module-separator {
    border-top: 1px solid black;
    height: 2px;
    padding: 0;
    margin: 20px auto 0 auto;
}

/* --------------- Hero ---------------- */
.hero {
    background-image: url(../assets/Hero.jpeg);
    background-position: 45% 80%;
    background-size: 190%;
    height: 40vh;
    padding: 0 0;

    div {
        height: 40vh;
        background-color: var(--primaryColor600);
        opacity: .2;
    }
}

/* --------------- End of Hero ---------------- */
/*---------- botón Donar -------------------- */
.donar-btn {
    cursor: pointer;
    color: var(--primaryColor50);
    background: var(--primaryColor600);
    border: transparent;
    border-radius: var(--borderRadius);
    letter-spacing: var(--letterSpacing);
    padding: 0.4rem 1.3rem;
    box-shadow: var(--shadow-1);
    transition: var(--transition);
    text-transform: capitalize;
    display: inline-block;
}

.donar-btn:hover {
    background: var(--primaryColorHover);
    box-shadow: var(--shadow-3);
}

/*---------- end of botón Donar -------------------- */

@import './navbar';
@import './main';
@import './news';
@import './sponsors';
@import './queHacemos';
@import './sidebar';
@import './footer';
@import './mediaQuerys';
@import './nosotras';
@import './contacto';